.allproduct-main {
  max-width: 1850px;
  margin: 0 auto;
  margin-top: 40px;
  .title-view {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .product-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 1;
      color: #161824;
    }
  }
  .all-product {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
}
