.main-slider{
  max-width: 1850px;
  margin: 0 auto;
  .slider{
    display: flex !important;
    align-items: center;
    justify-content: center;
    img{
      height: 450px;
      width: 100%;
      object-fit: cover;
    }
  }
}